
<% layout("/layout/boilerplate")%>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let listing of allListings) { %>
    <a  href="/listings/<%= listing._id %>"class="listings-links">
    <div class="card col listing-card" >
      <img src="<%= listing.image%>" class="card-img-top" alt="image"/>
      <div class="card-img-overlay"></div>

      <div class="card-body">
         <p class="card-text"><b> <%= listing.title %></b><br>
      <% if (listing.price != null) { %>
  ₹ <%= listing.price.toLocaleString("en-IN") %>
<% } else { %>
  <span class="text-muted">Price not available</span>
<% } %>

    </p>
      </div>
    </div>
   </a>
  <% } %>
  
 </div>


 
